config/
config.status
config.log
configure.in
alocal.m4
src/DEVELOPERS
src/bin/
src/common/
src/port/
src/pl/
src/tools/
src/timezone/
src/template/
src/tutorial/
src/test/
src/win32.mak
src/makefiles/
src/interfaces/
*.o
*.po
